<!--
 * @Description: 组件
 * @Author: 小鱼
 * @Date: 2020-07-09 20:31:41
 * @LastEditors: 小鱼
 * @LastEditTime: 2020-07-09 21:09:22
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>视频校验</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        #app {
            width: 1200px;
            margin: 10px auto;
            overflow: hidden;
        }

        
    </style>
</head>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<body>

    <div id="app">
        <p>总数量{{videoData.length}}, 有问题：{{errorUrls.length}}个，当前已校验{{index}}个</p>
        <textarea v-model="videoUrls"></textarea>
        <button @click="handleCheck">开始校验</button>
        <h2>有问题的视频</h2>
        <pre>
            <p v-for="url in errorUrls"><span>{{url}}</span></p>
        </pre>
        <div v-if="started">
            <video controls :src="videoUrl" @error="onError" @loadeddata="onLoadeddata"></video>
        </div>
        
    </div>
</body>
<script>
    let videoUrlArr = [];
    var app = new Vue({
        el: '#app',
        data() {
            return {
                started: false,
                videoUrls: '',
                videoData: [],
                errorUrls: [],
                totalUrls: 0,
                index: 0,
                videoUrl: '',
            }
        },
        methods: {
            onAdd() {
                this.index = this.index + 1
                this.videoUrl = this.videoData[this.index]
            },
            handleCheck() {
                this.videoData = this.videoUrls.split('\n')
                this.videoUrl = this.videoData[this.index]
                this.started = true
            },
            onError() {
                this.errorUrls.push(this.videoUrl);
                this.onAdd()
            },
            onLoadeddata() {
                this.onAdd()
            }
        },
    })
</script>

</html>